<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwc.main">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- NFC와 Webview를 위한 permission 선언-->
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name="com.hwc.splash.Splash_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hwc.splash.Splash_BlackActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".NFCActivity" />
        <activity android:name="com.hwc.kart.KartActivity" />
        <activity android:name="com.hwc.kart.custom_list"></activity>
    </application>

</manifest>
